<div class="container my-5 py-5 z-depth-1">

  
  <!--Section: Content-->
  <section class="text-center px-md-5 mx-md-5 dark-grey-text">
    
    <div class="row mb-5">
      <div class="col-md-42 mx-auto">
        <div class="view mb-12 pb-2" >
          <img src="pic/connection.png" class="img-fluid" alt="smaple image">
        </div>
      </div>
    </div>

    <h3 class="font-weight-bold mb-4 pb-2">Complete the connection.</h3>
    
    <p class="text-center mx-auto mb-4 pb-2">This application have connected with another application.</p>
    
    <a href ="#!/menu">
    <button type="button" class="btn btn-deep-purple btn-rounded">Return</button>
    </a>

  </section>
  <!--Section: Content-->

  
</div>