<div class="container my-5 py-5 z-depth-1">

  
  <!--Section: Content-->
  <section class="text-center px-md-5 mx-md-5 dark-grey-text">
    
    <div class="row mb-5">
      <div class="col-md-4 mx-auto">
        <div class="view mb-4 pb-2">
          <img src="pic/error.jpg" class="img-fluid" alt="smaple image">
        </div>
      </div>
    </div>

    <h3 class="font-weight-bold mb-4 pb-2">Error occurred.</h3>
    
    <p class="text-center mx-auto mb-4 pb-2">Unexpected error has occurred.</p>
    
    <a href ="index.html">
    <button type="button" class="btn btn-red btn-rounded">Return</button>
    </a>

  </section>
  <!--Section: Content-->

  
</div>