<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color">
  <a class="navbar-brand" href="#!/menu">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> Profile </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="#">My account</a>
          <a class="dropdown-item" href="#">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->

 <div class="container my-5 py-5 z-depth-1">
 
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    
          <!--Grid row-->
          <div class="row">
    
            <!--Grid column-->
            <div class="col-md-2 mb-4 mb-md-0">
    
              <p class="text-muted">Updated at </br> {{time1}}</p>
    
              <a class="btn btn-blue btn-md ml-0" role="button" ng-click="renew1()">Renew<i class="fa fa-external-link-alt ml-2"></i></a>

        
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-10 mb-4 mb-md-0">
    
              <!--Image-->
               <canvas id="base" class="chart chart-line"
                 chart-data="data" chart-labels="labels" chart-options ="options"
                 chart-dataset-override="datasetOverride" >
              </canvas> 			
              
              </br>
 
            </div>
            

            <div class="col-md-2 mb-4 mb-md-0">
    
              <p class="text-muted">Updated at </br> {{time2}}</p>
    
              <a class="btn btn-green btn-md ml-0" role="button" ng-click="renew2()">Renew<i class="fa fa-external-link-alt ml-2"></i></a>
    
            </div>

            <div class="col-md-10 mb-4 mb-md-0">
    
              <!--Image-->
                 <canvas id="base2" class="chart chart-line"
                   chart-data="data2" chart-labels="labels2" chart-options ="options2"
                   chart-dataset-override="datasetOverride2" >
                </canvas> 			
 
              </div>
    
            </div>
            <!--Grid column-->
    
          </div>
          <!--Grid row-->
    
    
        </section>
        <!--Section: Content-->
    
    
 </div>